body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 400px;
  margin: 20px auto;
}

nav {
  text-align: center;
  padding: 20px;
}

nav ul {
  padding: 0;
}

.navbar-item {
  display: inline-block;
  margin: 0 10px;
}

.players-list {
  padding: 20px;
}

.players-list li {
  padding: 10px;
  margin: 5px;
}

.rate-control-wrapper {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid;
}
